<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>部门端学分管理系统</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 页面meta /-->
    <link rel="stylesheet" href="../../static/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../../static/plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../../static/css/style.css">


    <script src="../../static/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../../static/plugins/jQueryUI/jquery-ui.min.js"></script>
    <script src="../../static/plugins/bootstrap/js/bootstrap.min.js"></script>

    <script src="../../static/plugins/adminLTE/js/app.min.js"></script>



    <script type="text/javascript">
        function SetIFrameHeight(){
            var iframeid=document.getElementById("iframe"); //iframe id
            if (document.getElementById){
                iframeid.height =document.documentElement.clientHeight;
            }
        }

    </script>

    <script type="text/javascript" src="../../static/plugins/angularjs/angular.min.js"></script>

    <script type="text/javascript" src="../../static/js/base.js"></script>
    <script type="text/javascript" src="../../static/js/service/indexService.js"></script>
    <script type="text/javascript" src="../../static/js/controller/indexController.js"></script>

    <script th:src="@{../../static/js/service/indexService.js}"></script>
    <script th:src="@{../../static/js/controller/indexController.js}"></script>


</head>

<body class="hold-transition skin-blue sidebar-mini" ng-app="credit" ng-controller="indexController" ng-init="showLoginName()">

<div class="wrapper">

    <!-- 页面头部 -->
    <header class="main-header">
        <!-- Logo -->
        <a href="index.html" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>学分管理系统</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>部门端学分管理系统</b></span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- Messages: style can be found in dropdown.less-->
                    <li class="dropdown messages-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-envelope-o"></i>
                            <span class="label label-success">4</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">你有4个邮件</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <li>
                                        <!-- start message -->
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="../../static/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                            </div>
                                            <h4>
                                                系统消息
                                                <small><i class="fa fa-clock-o"></i> 5 分钟前</small>
                                            </h4>
                                            <p>欢迎登录系统?</p>
                                        </a>
                                    </li>
                                    <!-- end message -->
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="../../static/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                                            </div>
                                            <h4>
                                                团队消息
                                                <small><i class="fa fa-clock-o"></i> 2 小时前</small>
                                            </h4>
                                            <p>你有新的任务了</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="../../static/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                                            </div>
                                            <h4>
                                                Developers
                                                <small><i class="fa fa-clock-o"></i> Today</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="../../static/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                                            </div>
                                            <h4>
                                                Sales Department
                                                <small><i class="fa fa-clock-o"></i> Yesterday</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="../../static/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                                            </div>
                                            <h4>
                                                Reviewers
                                                <small><i class="fa fa-clock-o"></i> 2 days</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer"><a href="#">See All Messages</a></li>
                        </ul>
                    </li>
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="../../static/img/user2-160x160.jpg" class="user-image" alt="User Image">
                            <span class="hidden-xs">{{loginName}}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <img src="../../static/img/user2-160x160.jpg" class="img-circle" alt="User Image">

                                <p>
                                    {{loginName}}
                                    <small>最后登录 11:20AM</small>
                                </p>
                            </li>

                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="#" class="btn btn-default btn-flat" ng-click="findOne()" data-toggle="modal" data-target="#editModal">修改密码</a>
                                </div>
                                <div class="pull-right">
                                    <a href="../logout" class="btn btn-default btn-flat">注销</a>
                                </div>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </nav>
    </header>
    <!-- 页面头部 /-->

    <!-- 导航侧栏 -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="../../static/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p> {{loginName}}</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
                </div>
            </div>
            <ul class="sidebar-menu"  >
                <li class="header">菜单</li>
                <li id="admin-index"><a href="/index"><i class="fa fa-dashboard"></i> <span>首页</span></a></li>

                <!-- 菜单 -->
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-folder"></i>
                        <span>部门管理</span>
                        <span class="pull-right-container">
				       			<i class="fa fa-angle-left pull-right"></i>
				   		 	</span>
                    </a>
                    <ul class="treeview-menu">
                        <li id="admin-login">
                            <a href="../../static/admin/department.html" target="iframe">
                                <i class="fa fa-circle-o"></i> 部门成员
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-folder"></i>
                        <span>活动管理</span>
                        <span class="pull-right-container">
				       			<i class="fa fa-angle-left pull-right"></i>
				   		 	</span>
                    </a>
                    <ul class="treeview-menu">

                        <li id="admin-login">
                            <a href="../../static/admin/AllAcitivity.html" target="iframe">
                                <i class="fa fa-circle-o"></i> 所办活动
                            </a>
                        </li>
                        <li id="admin-login">
                            <a href="../../static/admin/AcitivityStu.html" target="iframe">
                                <i class="fa fa-circle-o"></i> 活动参与
                            </a>
                        </li>
                        <li id="admin-login">
                            <a href="../../static/admin/AcitivityAward.html" target="iframe">
                                <i class="fa fa-circle-o"></i> 活动获奖
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- 菜单 /-->

            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
    <!-- 导航侧栏 /-->

    <!-- 内容区域 -->
    <div class="content-wrapper">
        <iframe width="100%" id="iframe" name="iframe"	onload="SetIFrameHeight()"
                frameborder="0" src="../../static/admin/home.html"></iframe>

    </div>
    <!-- 内容区域 /-->

    <!-- 底部导航 -->
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 1.0.8
        </div>
        <strong>Copyright &copy; 2014-2017 <a href="http://www.itcast.cn">研究院研发部</a>.</strong> All rights reserved.
    </footer>
    <!-- 底部导航 /-->

</div>
<!-- 编辑窗口 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">修改密码</h3>
            </div>
            <div class="modal-body">

                <table class="table table-bordered table-striped"  width="800px">
                    <tr>
                        <td>登录名</td>
                        <td><input  class="form-control" placeholder="登录名" ng-model="entity.username">  </td>
                    </tr>

                    <tr>
                        <td>新密码</td>
                        <td><input  class="form-control" placeholder="新密码" ng-model="entity.password">  </td>
                    </tr>
                    <tr>
                        <td>负责人</td>
                        <td><input  class="form-control" placeholder="负责人" ng-model="entity.name">  </td>
                    </tr>
                    <tr>
                        <td>所属部门</td>
                        <td><input  class="form-control" placeholder="所属部门" ng-model="entity.info">  </td>
                    </tr>
                    <tr>
                        <td>部门人数</td>
                        <td><input  class="form-control" placeholder="部门人数" ng-model="entity.num">  </td>
                    </tr>
                    <tr>
                        <td>负责人电话</td>
                        <td><input  class="form-control" placeholder="负责人电话" ng-model="entity.tel">  </td>
                    </tr>
                    <tr>
                        <td>负责人学号</td>
                        <td><input  class="form-control" placeholder="负责人学号" ng-model="entity.stuid">  </td>
                    </tr>
                    <tr>
                        <td>负责人班级</td>
                        <td><input  class="form-control" placeholder="负责人班级" ng-model="entity.stuclass">  </td>
                    </tr>
                    <tr>
                        <td>负责人专业</td>
                        <td><input  class="form-control" placeholder="负责人专业" ng-model="entity.stumajor">  </td>
                    </tr>
                    <tr>
                        <td>负责人辅导员</td>
                        <td><input  class="form-control" placeholder="负责人辅导员" ng-model="entity.teacher">  </td>
                    </tr>
                    <tr>
                        <td>负责人年级</td>
                        <td><input  class="form-control" placeholder="负责人年级" ng-model="entity.grade">  </td>
                    </tr>

                </table>

            </div>
            <div class="modal-footer">
                <button class="btn btn-success" data-dismiss="modal" aria-hidden="true"  ng-click="save()">保存</button>
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
</div>


</body>

</html>